@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
body{
    margin: auto;
    /* max-width: 1440px; */
    position: relative;
}
/* Add this to index.css if the text doesn't move */
@keyframes marquee {
    0% { transform: translateX(100%); }
    100% { transform: translateX(-100%); }
}
.animate-marquee {
    animation: marquee 15s linear infinite;
}